body {
  background-color: var(--body-bg-color);
  color: var(--text-bg-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-bg-color);

  &:hover {
    color: var(--link-text-color);
  }
}
button {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgb(151, 149, 149);
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: var(--btn-hover-color);
    color: var(--btn-hover-text);

    a:hover {
      color: var(--btn-hover-text);
    }
  }
}
h1{
  color:var(--title-color);
  font-weight: bold;
}

.btn-blue{
  background-color: var(--order-btn-bg-color);
  color: var(--order-btn-text-color);
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgb(151, 149, 149);
  cursor: pointer;

  &:hover {
    background-color: var(--order-btn-hover-color);
    color: var(--order-btn-hover-text);

    a:hover {
      color: var(--btn-hover-text);
    }
  }
}

.btn-blue-white{
  
  background-color: var(--header-btn-bg-color);
  color: var(--header-btn-text-color);
  font-weight: bold;
  margin: 0px 10px;
  cursor: pointer;

  &:hover{
    background-color: var(--header-btn-hover-color);
    color: var(--header-btn-hover-text);
  }
  a:hover{
    color: var(--header-btn-bg-color);
  }
}

.container-60{
  width: 60%;
}
.badge{
  border-radius: 20px;
  background-color: white;
  padding: 1px;
  font-size: 0.8rem;
  border: 1px solid rgb(129, 127, 127);
  overflow: hidden;
}