:root {
  // header
  --header-bg-color: rgba(0, 0, 0, 0.8);
  //Title header 
  --title-color:var(--link-text-color);

  // bottoni header
  --header-btn-bg-color: var(--link-text-color);
  --header-btn-text-color: white;
  --header-btn-hover-color: var( --header-btn-text-color);
  --header-btn-hover-text:var(--header-btn-bg-color);

  // bottoni general
  --btn-bg-color: rgb(247, 236, 236);
  --btn-text-color: rgb(0, 0, 0);
  --btn-hover-color: var(--header-bg-color);
  --btn-hover-text:white;
  
  // count product
  --count-bg-color: rgba(255, 255, 255);
  
  // main
  --body-bg-color: rgb(255, 255, 255);
  --main-bg-color: rgb(233, 231, 229);
  --section-news-bg: rgb(244, 239, 239);
  --main-section-bg-color: var(--section-news-bg);
  
  // side
  --side-bg-color: rgb(241, 240, 240);
  --side-text-color: white;
  --hover-check-color: rgb(105, 236, 232);
  
  // card restaurant
  --card-bg-color: linear-gradient(to bottom, #e3e9e9, #58dbd0, #12d7c6);
  --card-text-color: black;

  // Card product
  --product-bg-color: var(--card-bg-color);
  --product-btn-info: rgb(223, 219, 219);
  --product-border-color:black;

  // Single restaurant
  --restaurant-text-color: var(--card-text-color);
  --restaurant-border-color:var(--link-text-color);
  
  //Badge restaurant
  --badge-bg-color: var(--link-text-color);
  --badge-color:white;

  // Links  hover text
  --link-text-color: #00b8a8;

  // pop-up
  --pop-border-color:#00b8a8;

  // Cart
  --cart-bg-color:rgba(0, 0, 0, 0.9);

  // OrderCOnfirmed.vue
  --top-bg-color:var(--header-bg-color);
  --order-btn-bg-color: var(--link-text-color);
  --order-btn-text-color: white;
  --order-btn-hover-color: var( --header-bg-color);
  --order-btn-hover-text:white;

  // Footer
  --footer-bg-color: rgba(34, 33, 33);
  
  // Footer InfoSection 
  --title-color: var(--link-text-color);

}
